#header
    width: 100%
    height: 600px
    background: radial-gradient(250px at 90% 75%,#c557ed,#6c40dd),radial-gradient(250px at 50% 75%,#6c40dd,#6a4eee)
    nav
        font-size: 13px
        z-index: 3
        a
            color: #ffffff
        button
            position: relative
            right: -33%
            font-size: 10px
            width: 20%
            background-color: #d465ef
    #circle
        position: absolute
        top: -20%
        right: -6%
        width: 35%
        opacity: 0.2

.blink
    animation: blinker 1s infinite linear

@keyframes blinker
    50%
        opacity: 0.5